{% extends "main.html" %}
{% block content %}
    <div class = 'header clearfix'>
        <h3>New Store Toy</h3>
    </div>

    <form action="{{url_for('newStoreToy', store_id=store_id)}}" 
          method = 'POST' enctype=multipart/form-data>
        <div class = 'form-group'>
            <label for = 'name'>Name</label>
            <input type = 'text' maxlength = '250' name = 'name' 
                class = 'form-control' placeholder = 'Toy' required="true">
        </div>
        <div class = 'form-group'>    
            <label for = 'price'>Price</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" pattern="\d+(\.\d(\d)?)?" 
                    name = 'price' class = 'form-control'
                    placeholder="0.99">
            </div>
            <p class="help-block">Max 2 decimals in the price.</p>
        </div>
        <div class = 'form-group'>    
            <label for = 'description'>Description</label>
            <textarea maxlength = '250' rows='3' name = 'description' 
                class = 'form-control' 
                placeholder = 'Description'></textarea>     
        </div>
        <div class = 'form-group'>
            <label for='age_min'>Minimum age</label>
            <input type='number' name='age_min'
                class='form-control' placeholder='1'>
        </div>        
        <div class = 'form-group'>
            <label>Toy image </label>
            <input id='img_file' name='img_file' type='file' 
                style='display:none' 
                onchange="document.getElementById('img_text').value=this.files[0].name;">
            <div class='input-group'>
                <input id='img_text' name='img_text' 
                    type='text' class = 'form-control'>
                <a class='input-group-addon btn btn-default' 
                    onclick="document.getElementById('img_file').click();">
                    Upload
                </a>
            </div>
        </div>
        <div class = 'form-group'>
            <label for='url'>Website</label>
            <input type='text' maxlength='250' name='url'
                class='form-control' placeholder='www.mystore.com/toy1'>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <button type='submit' class ='btn btn-primary'>Create</button>
        <a class = 'btn btn-default'
            href = "{{url_for('storeToys', store_id=store_id)}}"> Cancel </a>

    </form>
{% endblock %}